body{
  display:flex;
  background-image: linear-gradient( #082032, #334756);
  background-repeat: repeat;
  font-family: "Varela Round", sans-serif;
}
.search-form{
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.today-weather{
  display:flex;
  flex-flow: row wrap;
  margin: 20px 20px;
  justify-content: flex-start;
}
.current-weather{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}

#weekly-forecast{
  display:flex;
  flex-flow: row wrap;
}


#heading{
  display: flex;
  color: #16697a;
  text-align: left;
  font-size: 70px;
}

#description{
  display: flex;
  text-align: right;
}

span {
  text-transform: capitalize;
  color: #16697a;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin: auto 0;
}
h2 {
  color: #db6400;
  font-size: 15px;
}
p {
  color: #16697a;
  text-align: left;
  margin: auto 0;
  padding-top: 50px;
  bottom: 20px;
}

h3 {
  color: #db6400;
  text-align: left;
  font-size: 25px;
}

div {
  color: #16697a;
}

div.col-1 {
  margin: auto 0;
  padding: 20px, 10px;
  text-align: center;
}

hr {
  position: relative;
  top: 40px;
  bottom: 10px;
}

form {
  position: relative;
  top: 10px;
}

.row {
  font-family: "Varela Round", sans-serif;
}

.form-select {
  color: #ffa62b;
}

.submit{
  background-color:#334756 ;
  color:#db6400;
  border-radius: 5px;
  box-shadow: #16697a;
}
.submit:hover{
  background-color: #db6400;
  color:#334756;
}

.current{
background-color:#334756 ;
  color:#db6400;
  border-radius: 5px;
  box-shadow: #16697a;
}

.current:hover{
  background-color: #db6400;
  color:#334756;
}

footer{
  display: flex;
  justify-content: flex-end;
}

a{
  color:white;
  font-size: 10px;
}

a:hover{
  color:#db6400;
}