.body{
  display:flex;
}

.weather-app{ max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #16697a;
  border-radius: 5px;
  background-image: linear-gradient( #082032, #334756);

}

h1,
ul,
span,
h2,
p,
h3,
div,
form {
  font-family: "Varela Round", sans-serif;
  position: relative;
}

h1 {
  color: #16697a;
  text-align: left;
  margin: auto 0;
  padding-top: 40px;
}

span {
  text-transform: capitalize;
  color: #16697a;
  text-align: left;
  margin: auto 0;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin: auto 0;
}
h2 {
  color: #db6400;
  text-align: left;
  margin: auto 0;
  top: 10px;
  bottom: 20px;
  font-size: 15px;
}
p {
  color: #16697a;
  text-align: left;
  margin: auto 0;
  padding-top: 50px;
  bottom: 20px;
}

h3 {
  color: #db6400;
  text-align: left;
  margin: auto 0;
  top: 40px;
  bottom: 20px;
}

div {
  color: #16697a;
}

div.col-1 {
  margin: auto 0;
  padding: 20px, 10px;
  text-align: center;
}

hr {
  position: relative;
  top: 40px;
  bottom: 10px;
}

form {
  position: relative;
  top: 10px;
}

.row {
  font-family: "Varela Round", sans-serif;
}

.form-select {
  color: #ffa62b;
}

.submit{
  background-color:#334756 ;
  color:#db6400;
  border-radius: 5px;
  box-shadow: #16697a;
}
.submit:hover{
  background-color: #db6400;
  color:#334756;
}

.current{
background-color:#334756 ;
  color:#db6400;
  border-radius: 5px;
  box-shadow: #16697a;
}

.current:hover{
  background-color: #db6400;
  color:#334756;
}